
<!DOCTYPE html>
<head>
  <title>
    Grind
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="root">
    <fyi-instance v-for="f in fyis.all" :fyi="f"></fyi-instance>
    <weapon-instance :weapon="weapon"></weapon-instance>
    <div class="world" @mousemove="weapon_followMouse" @mousedown="weapon_strike" @mouseup="weapon_endStrike">
      <div class="targets">
        <targets-instance v-for="(t, i) in targets.all" :target="t" v-on:hit=targets_receiveWeaponHit(t) ></targets-instance>
      </div>
    </div>
    <div class="stats">
      <h3 @mousedown="player_levelUp">Level: {{player.level}}</h3>
      <h3>Exp: {{player.exp}}</h3>
    </div>
  </div>
</body>
