* {
  font-family: sans-serif;
  user-select: none;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.world {
  padding: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: none;
  background-image: url("https://pre00.deviantart.net/3c67/th/pre/f/2013/297/c/6/wow___stranglethorn_vale_8_by_byorrsingyr-d6p3ibv.jpg");
  background-size: cover;
  background-position: center;
}

.weapon {
  animation: weapon--idle 150ms;
  z-index: 100;
  display: block;
  transform-origin: center 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
  height: 100px;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.weapon--strike {
  animation: weapon--strike 100ms;
  transform: translate(-50%, -50%) rotateY(-50deg) rotateX(60deg)
    rotateZ(-45deg);
}

.weapon--sword {
  background-image: url(https://orig00.deviantart.net/5f2b/f/2014/145/3/d/medieval_heavy_sword_pixel_art_by_husseinhorack-d7jnld5.png);
}

@keyframes weapon--idle {
  0% {
    transform: translate(-50%, -50%) rotateY(-50deg) rotateX(60deg)
      rotateZ(-45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotateY(-50deg) rotateX(60deg)
      rotateZ(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(-50deg) rotateX(50deg);
  }
}

@keyframes weapon--strike {
  50% {
    transform: translate(-50%, -50%) rotateY(-50deg) rotateX(50deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(-50deg) rotateX(60deg)
      rotateZ(-45deg);
  }
}

.fyi {
  position: absolute;
  z-index: 9;
  color: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: fyi-animation 2000ms;
  opacity: 0;
}

.fyi.fyi--important {
  font-size: 1.2em;
  color: yellow;
  font-weight: bold;
  animation: fyi-animation 4000ms;
  z-index: 10;
}

@keyframes fyi-animation {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
    opacity: 1;
  }
  20% {
    transform: translate(-50%, -50%) translate(0, -50px) scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translate(0, -150px);
    opacity: 0;
  }
}

.targets {
  display: flex;
  justify-content: space-between;
}

.target {
  animation: target--idle 1s infinite;
  border-radius: 5vw;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin: 16px;
  background-image: url("http://rs87.pbsrc.com/albums/k137/barbarianfighter/web/bicho_chato_do_cacete.gif?w=280&h=210&fit=crop");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.target--aggro {
  animation: target--aggro 1500ms;
  animation-iteration-count: 3;
}

.target--dead {
  transition: all 1s;
  animation: none;
  background-image: url("https://img00.deviantart.net/ba52/i/2006/070/2/d/i_hate_murlocs_by_iamelly.png");
  transform: translate(0, 25%) scaleY(0.2);
  opacity: 0.2;
  pointer-events: none;
}

.target--dead > .hp {
  display: none;
}

.target > .hp {
  position: relative;
  width: 100%;
  display: block;
  background: red;
  height: 6px;
  transform: translateY(-8px);
}

.hp > .hp-value {
  transition: width 120ms;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: lightgreen;
  height: 100%;
}

.target:hover,
.target:active,
.target.target--aggro {
  box-shadow: 0 0 25px red;
}

.target.target--striking {
  animation: target--strike 300ms;
}

.target:active {
  animation: target--receive-hit 200ms;
}

@keyframes target--receive-hit {
  0%,
  100% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 0) scale(0.8);
    background-color: rgba(255, 0, 0, 0.1);
  }
}

@keyframes target--idle {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: scale(1, 1.03) translateY(-2%);
  }
}

@keyframes target--strike {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20% {
    transform: scale(1.7, 1.7) translateY(-2%) rotateZ(-20deg);
    background-color: rgba(255, 0, 0, 0.5);
  }
}

@keyframes target--aggro {
  0%,
  100% {
    transform: translate(0, 0);
  }
  30% {
    transform: scale(0.95, 1.05) rotateZ(5deg);
    background-color: rgba(255, 0, 0, 0.3);
  }
  60% {
    transform: scale(1.05, 0.95) rotateZ(-5deg);
  }
}
